{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% set productExpertTabId = "product-expert-tab-" ~ product.id %}
{% set productExpertTabHref = "#product-expert-tab-" ~ product.id ~ "-pane" %}
{% set productExpertTabContent = "product-expert-tab-" ~ product.id ~ "-pane" %}
{% set isPluginActive = config(constant('MuckiProductExpertPlugin\\Core\\ConfigPath::CONFIG_PATH_ACTIVE').value) %}

{% block element_product_description_reviews_tabs_navigation_review %}
    {{ parent() }}
    {% if isPluginActive and page.product.customFields.custom_product_show_expert %}
        <li class="nav-item">
            <a class="nav-link {% if (ratingSuccess == 1) or (ratingSuccess == -1) %}active{% endif %} product-detail-tab-navigation-link review-tab"
               id="{{ productExpertTabId }}"
               data-bs-toggle="tab"
               data-off-canvas-tabs="true"
               href="{{ productExpertTabHref }}"
               role="tab"
               aria-controls="{{ productExpertTabContent }}"
               aria-selected="true"
            >
                {{ "muwaProductExpert.productDetail.tab.label"|trans|sw_sanitize }}
                <span class="product-detail-tab-navigation-icon">
                    {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
                </span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
    {{ parent() }}
    {% if isPluginActive and page.product.customFields.custom_product_show_expert %}
        <div
            class="tab-pane fade show {% if (element.data.ratingSuccess == 1) or (element.data.ratingSuccess == -1) %}active{% endif %}"
            id="{{ productExpertTabContent }}"
            role="tabpanel"
            aria-labelledby="{{ productExpertTabId }}"
        >
            {{ dump(page.product.customFields) }}
        </div>
    {% endif %}
{% endblock %}
